<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEA Vehicle QR system</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

<!-- Logos -->
<img src="{{ url_for('static', filename='images/left_logo.png') }}" class="logo left-logo">
<img src="{{ url_for('static', filename='images/right_logo.png') }}" class="logo right-logo">

<!-- Title -->
<h1 class="title">BEA Vehicle QR system</h1>

<!-- Form -->
<div class="form-container">
    <form method="POST" action="/admin">
        <input type="text" name="vehicle_number" placeholder="Vehicle Number" required>
        <input type="date" name="generated_date" required>
        <button type="submit">Generate QR</button>
    </form>
</div>
{% if qr %}
<div style="margin-top: 30px; text-align: center;">
    <h2>Token Number: {{ qr.sequence }}</h2>

    <img src="/{{ qr.qr_image }}" alt="QR Code" style="width: 250px; margin: 15px 0;">

    <p><strong>Vehicle Number:</strong> {{ qr.vehicle_number }}</p>
    <p><strong>Expiry Date:</strong> {{ qr.expires_date }}</p>
</div>
{% endif %}

<!-- Logout -->
<a href="/logout" class="logout">Logout</a>

</body>
</html>